# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Equindar will be requested for
# review when someone opens a pull request.
* @Equindar

# Include specific ownership
/frontend @Equindar
/backend @BlackLNX

# Exclude general ownership
/docs 

# Total supremacy over the CODEOWNERS file
# Only "Equindar" can edit this file
#
# "Democracy in github repos is just an illusion!"
# ~ quoted Equindar (8th February 2024)
#
/.github/CODEOWNERS @Equindar