# ignore IDE project/config files
**/.vscode
**/.vs
**/.idea

# ignore enviroment files
**/.env

# ignore logs
**/logs
**/*.log

# ignore documentation
**/README.md

# ignore 3rd party lib
**/node_modules/

# Ignore built files
build/**/*

# code formatter
**/.eslintrc
**/.eslintignore
**/.editorconfig
**/.huskyrc
**/.lintstagedrc.json
**/.prettierrc

# ignore test + coverage
**/coverage

# git
**/.gitignore
**/.git

.DS_Store 

# docker
Dockerfile
docker-compose.yml

# others
**/LICENSE