# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# --- dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# --- logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/analyze

# --- caching
/cache

# --- authentification / keys
*.pem

# --- production artifacts
/build
# vercel
.vercel
# next.js
/.next/
/out/
next-env.d.ts

# --- testing / coverage
/coverage

# --- temporary files
.DS_Store

# --- enviroment files (*.local)
.env*.local

*storybook.log