[submodule "frontend/LunarEclipse-ChatService"]
	path = frontend/LunarEclipse-ChatService
	url = https://github.com/Equindar/LunarEclipse-ChatService.git
[submodule "LunarEclipse-NotificationService"]
	path = backend/LunarEclipse-NotificationService
	url = https://github.com/Equindar/LunarEclipse-NotificationService.git
[submodule "frontend/LunarEclipse-DevNotes"]
	path = docs/LunarEclipse-DevNotes
	url = https://github.com/Equindar/LunarEclipse-DevNotes.git